:root {
  --primary: #58c9c9;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.select {
  padding: 0.5em;
  background: var(--primary);
  border-radius: 0.5em;
  color: #0b1b1b;
  border: 0;
  box-shadow: 0 2px 1px 0px #00000070;
}

.button {
  border: 0;
  margin-left: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: #eeeaea;
  box-shadow: 0 2px 1px 0px #00000070;
  cursor: pointer;
}

.button:hover {
  background: #eeeaea94;
}

.button[disabled] {
  cursor: not-allowed;
}

.bar {
  fill: #319e9e;
}
